<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

        <!-- ========================================================== --> 
        <!-- JSP Configuration --> 
        <!-- ========================================================== --> 

        <jsp-config> 
                <jsp-property-group> 
                        <url-pattern>*.jsp</url-pattern> 
                </jsp-property-group> 
        </jsp-config> 
        
<!-- Hello world servlet -->
	<servlet>
		<servlet-name>Hello World!</servlet-name>
		<servlet-class>com.sdapp.server.sdapp_serverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello World!</servlet-name>
		<url-pattern>/sdapp_server</url-pattern>
	</servlet-mapping>
<!-- Registration servlet -->
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.sdapp.server.sdapp_registrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/sdapp_register</url-pattern>
	</servlet-mapping>
<!-- Login servlet -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.sdapp.server.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
<!-- Login JSP page -->
	<servlet>
		<servlet-name>login</servlet-name>
		<jsp-file>login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/sdapp_login</url-pattern>
	</servlet-mapping>
<!-- Server entry page -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
