<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- ========================================================== --> 
<!-- JSP Configuration --> 
<!-- ========================================================== --> 

        <jsp-config> 
                <jsp-property-group> 
                        <url-pattern>/WEB-INF/jsp/*.jsp</url-pattern> 
                </jsp-property-group> 
        </jsp-config> 
 
<!-- Login servlet -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.sdapp.server.LoginServlet</servlet-class>
	</servlet>
<!-- Login Successsful servlet -->
	<servlet>
		<servlet-name>loginSuccessfulServlet</servlet-name>
		<servlet-class>com.sdapp.server.LoginSuccessfulServlet</servlet-class>
	</servlet>
<!-- Registration servlet -->
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>com.sdapp.server.RegisterServlet</servlet-class>
	</servlet>
<!-- Registration Successsful servlet -->
	<servlet>
		<servlet-name>registrationSuccessfulServlet</servlet-name>
		<servlet-class>com.sdapp.server.RegistrationSuccessfulServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginSuccessfulServlet</servlet-name>
		<url-pattern>/loginSuccessfulServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registrationSuccessfulServlet</servlet-name>
		<url-pattern>/registrationSuccessfulServlet</url-pattern>
	</servlet-mapping>
	
<!-- Server entry page -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
